<!DOCTYPE html>
<html>
<head>
    <title>National Parks in United States: Information by State</title>
</head>
<style>
  body{
        margin: 30px 50px;
  }
  .name{
    color: blue;
  }
  strong{
    color: blue;
  }


  p{
    font-size: 18px;
  }
  footer{
    margin-top: 3em;
  }


</style>

<body style="padding:10;">
    <nav>
    <a href="{{ url_for('index')}}">Home</a> |
    <a href="{{ url_for('info')}}">Info</a> |
    <a href="{{ url_for('popular')}}">Most Popular</a>
  </nav>

  <h1>National Parks in {{ state }}</h1>
  <br>
  <br>
  {% for field in all_parks %}
  <h3 class="name">{{ field[0] }}</h3>
  <h4>{{ field[1] }}</h4>
  <p>{{ field[2] }}</p>
  <br>
  <br>

  {% endfor %}

  {% if not all_parks %}
  There are no saved national parks to show.
  {% endif %}

  <footer><p class="footer">Created by <strong>Sanghyun Lee</strong></p></footer>
</body>
</html>
